<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>Girls Stay Hostel</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="css/style.css">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/custom.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<style type="text/css">
	
	.lightbox img {
   width: 100%;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}
</style>


</head>

<body>

	{{>header}}
	<!-- Start header -->
	<div class="all-page-title page-breadcrumb">
		
	</div>
	<!-- End header -->
	

	<!-- Start Facility -->
	
<div class="gallery-box lightbox" >
	<div class="menu-box ">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2 style="margin-top: 30px;">Our facilities</h2>
						<p>We offer a great list of facilties foryour own comfort so you can have a great time at our hostel.</p>
					</div>
				</div>
			</div>
				
			<div class="row special-list ">
				<div class="col-lg-4 col-md-6 special-grid drinks" style="width: 25%;">
					<div class="gallery-single fix ">
					<img class="img-fluid"  src="image/1.jpg" alt="Gallery Images"  >
						
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid drinks " style="width: 25%;">
					<div class="gallery-single fix">
						 <img class="img-fluid" src="image/2.jpg" alt="Gallery Images">
						
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid drinks" style="width: 25%;">
					<div class="gallery-single fix">
						<img src="image/3.jpg" class="img-fluid" alt="Image">
						
					</div>
				</div>
				<div class="col-lg-4 col-md-6 special-grid drinks" style="width: 25%;">
					<div class="gallery-single fix">
						<img src="image/4.jpg" class="img-fluid" alt="Image">
						
					</div>
				</div>
				
			</div>
			
			<div class="row special-list">
				<div class="col-lg-4 col-md-6 special-grid drinks" style="width: 25%;">
					<div class="gallery-single fix">
						<img class="img-fluid" src="image/5.jpg" alt="Gallery Images" height="300">
						
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid drinks" style="width: 25%;">
					<div class="gallery-single fix">
						 <img class="img-fluid" src="image/6.jpg" alt="Gallery Images">
						
					</div>
				</div>
				
				<div class="col-lg-4 col-md-6 special-grid drinks" style="width: 25%;">
					<div class="gallery-single fix">
						<img src="image/7.jpg" class="img-fluid" alt="Image">
						
					</div>
				</div>
				<div class="col-lg-4 col-md-6 special-grid drinks" style="width: 25%;">
					<div class="gallery-single fix">
						<img src="image/8.jpg" class="img-fluid" alt="Image">
						
					</div>
				</div>
				
			</div>
				
				
		</div>
	</div>

	</div>	
	
	<!-- End Facility -->
	
	







	<!-- Start Facility >
	<div class="gallery-box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Our facilities</h2>
						<p>We offer a great list of facilties foryour own comfort so you can have a great time at our hostel.</p>
					</div>
				</div>
			</div>
			<div class="tz-gallery">
				<div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3">
				
							<a class="lightbox" href="p/1.jpg">
							<img class="img-fluid" src="p/1.jpg"  alt="Gallery Images">
							</a>
						</div>

						<div class="col-lg-3">
						<a class="lightbox" href="p/2.jpg">
							<img class="img-fluid" src="p/2.jpg" alt="Gallery Images">
						</a>
					</div>

					<div class="col-lg-3">
						<a class="lightbox" href="p/3.jpg">
							<img class="img-fluid" src="p/3.jpg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-lg-3">
				
							<a class="lightbox" href="p/4.jpg">
							<img class="img-fluid" src="p/4.jpg"  alt="Gallery Images">
							</a>
					</div>
				</div>
			</div>
				<div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3">
				
							<a class="lightbox" href="p/5.jpg">
							<img class="img-fluid" src="p/5.jpg"  alt="Gallery Images">
							</a>
						</div>

						<div class="col-lg-3">
						<a class="lightbox" href="p/6.jpg">
							<img class="img-fluid" src="p/6.jpg" alt="Gallery Images">
						</a>
					</div>

					<div class="col-lg-3">
						<a class="lightbox" href="p/7.jpg">
							<img class="img-fluid" src="p/7.jpg" alt="Gallery Images">
						</a>
					</div>
					<div class="col-lg-3">
						<a class="lightbox" href="p/8.jpg">
							<img class="img-fluid" src="p/8.jpg" alt="Gallery Images">
						</a>
					</div>
				</div>

				
					
					</div>
					
			
		</div>
		</div>
	</div>
	

	<!-- End Facility -->
	
	
	{{>footer}}
	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

	<!-- ALL JS FILES -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
	<script src="js/jquery.superslides.min.js"></script>
	<script src="js/images-loded.min.js"></script>
	<script src="js/isotope.min.js"></script>
	<script src="js/baguetteBox.min.js"></script>
	<script src="js/form-validator.min.js"></script>
    <script src="js/contact-form-script.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>