<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Girls Stay Hostel</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Site Icons -->
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<!-- Site CSS -->
	<link rel="stylesheet" href="css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="css/responsive.css">
	<!-- Custom CSS -->
	<link rel="stylesheet" href="css/custom.css">

	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<style type="text/css">
		.menu-box.lightbox img {
			width: 100%;
			transition: 0.2s ease-in-out;
			box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
		}

		.menu-box.lightbox img:hover {
			transform: scale(1.05);
			box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
		}
	</style>
</head>

<body>
	{{>header}}

	<!-- Start slides -->
	<div id="slides" class="cover-slides">
		<ul class="slides-container">
			<li class="text-center">
				<img src="image/slider-4.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12" style="margin-top: 40px;">
							<h1 class="m-b-20"><strong>Welcome To <br> Girls Stay hostel</strong></h1>
							<p class="m-b-40">See how your users experience your website in realtime or view <br>
								trends to see any changes in performance over time.</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#"
									style="margin-top: 40px;">Admission</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-center">
				<img src="image/slider-3.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12" style="margin-top: 40px;">
							<h1 class="m-b-20"><strong>Come & Enjoy <br> Specially Moment with us</strong></h1>
							<p class="m-b-40">See how your users experience your website in realtime or view <br>
								trends to see any changes in performance over time.</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#"
									style="margin-top: 40px;">Admission</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-center">
				<img src="image/slider-2.jpg" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12" style="margin-top: 40px;">
							<h1 class="m-b-20"><strong>Thanks For !<br> Visite</strong></h1>
							<p class="m-b-40">See how your users experience your website in realtime or view <br>
								trends to see any changes in performance over time.</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#"
									style="margin-top: 40px;">Admission</a></p>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="slides-navigation">
			<a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
			<a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		</div>
	</div>
	<!-- End slides -->

	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12">
					<img src="image/slider-5.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 text-center">
					<div class="inner-column">
						<h1>Welcome To <span>Girls Stay Hostel</span></h1>
						<br>

						<p>Happynest Hostel in Amreli , Gujarat.
							This is Happiness, this is Happynest Hostel.
							The Happynest Inspiring Hostel is an outstanding Hostel, one of the best hostels in Amreli.
							This accommodation understands the value of a hostel.</p>

						<p>An open-space design concept, combined with design details, cosy common spaces, and a
							welcoming ambient.
							Report this ad Happynest Hostel keeps it simple: “A home away from home. A place to
							socialize with strangers, get to know local culture and sleep tight at night.”</p>
						<a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Admission</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->

	<!-- Start Facility -->

	<div class="gallery-box lightbox">
		<div class="menu-box ">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading-title text-center">
							<h2 style="margin-top: 30px;">Our facilities</h2>
							<p>We offer a great list of facilties foryour own comfort so you can have a great time at
								our hostel.</p>
						</div>
					</div>
				</div>

				<div class="row special-list ">
					<div class="col-lg-4 col-md-6 special-grid drinks" style="width: 25%;">
						<div class="gallery-single fix ">
							<img class="img-fluid" src="image/1.jpg" alt="Gallery Images">

						</div>
					</div>

					<div class="col-lg-4 col-md-6 special-grid drinks " style="width: 25%;">
						<div class="gallery-single fix">
							<img class="img-fluid" src="image/2.jpg" alt="Gallery Images">

						</div>
					</div>

					<div class="col-lg-4 col-md-6 special-grid drinks" style="width: 25%;">
						<div class="gallery-single fix">
							<img src="image/3.jpg" class="img-fluid" alt="Image">

						</div>
					</div>
					<div class="col-lg-4 col-md-6 special-grid drinks" style="width: 25%;">
						<div class="gallery-single fix">
							<img src="image/4.jpg" class="img-fluid" alt="Image">

						</div>
					</div>

				</div>

				<div class="row special-list">
					<div class="col-lg-4 col-md-6 special-grid drinks" style="width: 25%;">
						<div class="gallery-single fix">
							<img class="img-fluid" src="image/5.jpg" alt="Gallery Images" height="300">

						</div>
					</div>

					<div class="col-lg-4 col-md-6 special-grid drinks" style="width: 25%;">
						<div class="gallery-single fix">
							<img class="img-fluid" src="image/6.jpg" alt="Gallery Images">

						</div>
					</div>

					<div class="col-lg-4 col-md-6 special-grid drinks" style="width: 25%;">
						<div class="gallery-single fix">
							<img src="image/7.jpg" class="img-fluid" alt="Image">

						</div>
					</div>
					<div class="col-lg-4 col-md-6 special-grid drinks" style="width: 25%;">
						<div class="gallery-single fix">
							<img src="image/8.jpg" class="img-fluid" alt="Image">

						</div>
					</div>

				</div>


			</div>
		</div>

	</div>

	<!-- End Facility -->




	<!-- Start Rules -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Rules & Regulations </h2>
						<p>The Following rules in addition to the rules given in the Annexure II will be in force in
							girls’ hostels:</p>
					</div>
				</div>
			</div>
			<div class="col-md-12">
				<div class="inner-pt">
					<p><span style="font-weight: bold;">1. </span> If any girl student has to go to the town for any
						work, she must write the purpose, place, time of leaving and time of return in the register with
						the security guard on duty. </p>

					<p><span style="font-weight: bold;">2. </span>She must return to the hostel latest by 7:30 P.M.
						during the months of March to October and latest by 6:30 P.M. during the months of November to
						February. </p>

					<p><span style="font-weight: bold;">3. </span> No male person (even father) will be allowed inside
						the Girl’s Hostel. </p>

					<div class="inner-pt">
						<p><span style="font-weight: bold;">4. </span> For late night stay at local guardians’ residence
							up to 9 PM or night halt, prior written permission of the warden must be obtained. In
							addition, the local guardian must submit a letter stating that the student had stayed with
							them. </p>

						<p><span style="font-weight: bold;">5. </span> Permission must be taken from the warden
							regarding stay of a female relative in the Girls’ Hostel. </p>

						<p><span style="font-weight: bold;">6. </span> A girl Student must submit the names and
							addresses of the local guardians with their signature, if any, duly authorized by the
							parents (or authorized guardian as per declaration in the admission form) in the prescribed
							form available with the warden. </p>

						<p><span style="font-weight: bold;">7. </span> Key of the Guest room will be with the security
							Guard. On arrival of a relative, the security guard may open the guest room and then inform
							the girl student through the lady peon. </p>

						<p><span style="font-weight: bold;">8. </span> Only in case of urgency the girl student may go
							to D.S.W. residence for contacting on phone during late hours beyond 7:30 PM but not later
							than 9:30 PM with the permission of DSW. </p>

						<p><span style="font-weight: bold;">9. </span> A girl student must enter all the columns in the
							register regarding participation in curricular activities and extracurricular beyond the
							working hours of the Institute. </p>

						<p><span style="font-weight: bold;">10. </span> Visitors may meet the Girl student outside the
							gate of the girls Hostel up to 7:30 PM. with the permission of the Hostel Warden/Dean of
							Student Welfare (D.S.W.) </p>
					</div>
				</div>
			</div>
		</div>
		<!-- End Rules -->
		<!-- Start Menu -->
		<div class="menu-box" style="margin-top: 40px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading-title text-center">
							<h2>Our Gallery</h2>
							<p>We provide well ventilated and adequately furnished rooms.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="special-menu text-center">
							<div class="button-group filter-button-group">
								<button class="active" data-filter="*">All</button>
								<button data-filter=".drinks">Rooms</button>
								<button data-filter=".lunch">Study Hall</button>
								<button data-filter=".dinner">Dining Hall</button>
							</div>
						</div>
					</div>
				</div>
				<div class="row special-list">
					<div class="col-lg-4 col-md-6 special-grid drinks">
						<div class="gallery-single fix">
							<img src="image/r1.jpg" class="img-fluid" alt="Image">

						</div>
					</div>

					<div class="col-lg-4 col-md-6 special-grid drinks">
						<div class="gallery-single fix">
							<img src="image/r2.jpg" class="img-fluid" alt="Image">

						</div>
					</div>

					<div class="col-lg-4 col-md-6 special-grid drinks">
						<div class="gallery-single fix">
							<img src="image/r3.jpg" class="img-fluid" alt="Image">

						</div>
					</div>

					<div class="col-lg-4 col-md-6 special-grid lunch">
						<div class="gallery-single fix">
							<img src="image/study-hall-2.jpg" class="img-fluid" alt="Image">

						</div>
					</div>

					<div class="col-lg-4 col-md-6 special-grid lunch">
						<div class="gallery-single fix">
							<img src="image/study-hall-1.jpg" class="img-fluid" alt="Image">

						</div>
					</div>

					<div class="col-lg-4 col-md-6 special-grid lunch">
						<div class="gallery-single fix">
							<img src="image/study-hall-3.jpg" class="img-fluid" alt="Image">

						</div>
					</div>

					<div class="col-lg-4 col-md-6 special-grid dinner">
						<div class="gallery-single fix">
							<img src="image/dining-area-56.jpg" class="img-fluid" alt="Image">

						</div>
					</div>

					<div class="col-lg-4 col-md-6 special-grid dinner">
						<div class="gallery-single fix">
							<img src="image/dining-area-1.jpg" class="img-fluid" alt="Image">

						</div>
					</div>

					<div class="col-lg-4 col-md-6 special-grid dinner">
						<div class="gallery-single fix">
							<img src="image/dining-area-2.jpg" class="img-fluid" alt="Image">

						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Menu -->


		<!-- Start Customer Reviews -->
		<div class="customer-reviews-box" style="margin-top: 40px;">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="heading-title text-center">
							<h2>Customer Reviews</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 mr-auto ml-auto text-center">
						<div id="reviews" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner mt-4">
								<div class="carousel-item text-center active">
									<div class="img-box p-1 border rounded-circle m-auto">
										<img class="d-block w-100 rounded-circle" src="image/profile-1.png" alt="">
									</div>
									<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Pallavi
											Vaghasiya</strong></h5>
									<h6 class="text-dark m-0">Web Developer</h6>
									<p class="m-0 pt-3">Thanks you so much.we were Really happy with the stay at your
										Girls Stay Hostel. Homely rooms and great price.many thanks..
									</p>
								</div>
								<div class="carousel-item text-center">
									<div class="img-box p-1 border rounded-circle m-auto">
										<img class="d-block w-100 rounded-circle" src="image/profile-3.png" alt="">
									</div>
									<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Nandini
											shah</strong></h5>
									<h6 class="text-dark m-0">Web Designer</h6>
									<p class="m-0 pt-3">Overal, we enjoyed our Stay. Room was very neat and clean. the
										room services was very good. the Location is easily accessible the buffet
										breakfast was awesome. Thanks to all !! </p>
								</div>
								<div class="carousel-item text-center">
									<div class="img-box p-1 border rounded-circle m-auto">
										<img class="d-block w-100 rounded-circle" src="image/profile-7.png" alt="">
									</div>
									<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Devangi
											Patel</strong></h5>
									<h6 class="text-dark m-0">Seo Analyst</h6>
									<p class="m-0 pt-3">I miss stya at Girls Stay Hostel. the staff makes you feel at
										home. It is probably my best stay Possible away from home. A big thanks to all..
									</p>
								</div>
							</div>
							<a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
								<i class="fa fa-angle-left" aria-hidden="true"></i>
								<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
								<i class="fa fa-angle-right" aria-hidden="true"></i>
								<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Customer Reviews -->
	</div>

	{{>footer}}

	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

	<!-- ALL JS FILES -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- ALL PLUGINS -->
	<script src="js/jquery.superslides.min.js"></script>
	<script src="js/images-loded.min.js"></script>
	<script src="js/isotope.min.js"></script>
	<script src="js/baguetteBox.min.js"></script>
	<script src="js/form-validator.min.js"></script>
	<script src="js/contact-form-script.js"></script>
	<script src="js/custom.js"></script>
</body>

</html>